<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="article col col-8 push-2 col-d-12 push-d-0">
        <div class="article__inner">
          <div class="article__content">
            <h1 class="article__title">{{ site.hero.hero__title }}</h1>
            <p class="article_excerpt">{{ site.hero.hero__description }}</p>
            <div class="article__excerpt">
              {% include social-links.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->
