.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

/*Nav new------------------------*/
/* Navbar container */
.navbar {
  overflow: hidden;
  background: #3366ff;
      background-image: -moz-linear-gradient(right top, #2E69BF 0%, #26C1CC 100%);
      background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #2E69BF), color-stop(1, #26C1CC));
      background: -webkit-linear-gradient(right top, #2E69BF 0%, #26C1CC 100%);
      background: -o-linear-gradient(right top, #2E69BF 0%, #26C1CC 100%);
      background: -ms-linear-gradient(right top, #2E69BF 0%, #26C1CC 100%);
      background: linear,right top,#2E69BF 0%,#26C1CC 100%;
      opacity: 0.95;
      z-index: 10;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      transition: 0.5s;
      overflow: auto;
      font-family: $sans-serif;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a blue background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #26C1CC;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a blue background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #26C1CC;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



/*nav new------------------------*/

main,
footer {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav {

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    color: #fff;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;
    opacity: .9;
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: #fff;
    display: inline-block;
    opacity: .9;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
      text-decoration: underline;
    }
  }

  a {
    color: #fff;
    font-family: $sans-serif;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  font-family: $serif-secondary;
  padding: 3rem 0;
  text-align: left;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}

input, textarea {
  font-size: 1.1rem;
  box-shadow: 0 0 0 0px #3366ff;
  border-radius: 4px;
  background: #fff;
  padding: 2px 18px 4px;
  transition: all 0.3s ease-in-out;
  width: 100%; }
  input.code, textarea.code {
    font-family: $sans-serif; }
  input:focus, textarea:focus {
    opacity: .6;
    }

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 6px; }

  form input, form textarea, form button, #formview {
    font-family: $sans-serif;
    transition: none;
  }

  form input:focus, form textarea:focus {
   opacity: .8;
  }

  form input, form textarea {
    font-size: 16px;
    margin-bottom: 11px;
    border-width: 1px;
    border-color: #777;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  form textarea {
    padding-left: 16px;
  }

  form button {
    background-color: #26C1CC; /* blue */
    font-family: $sans-serif;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  form button:hover {
    text-decoration: underline;
  }

  .animate {
    -moz-animation-iteration-count: once;
    -moz-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -moz-animation-duration: 0.4s;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -webkit-animation-duration: 0.4s; }
    .animate.dropIn {
      -moz-animation-name: dropIn;
      -webkit-animation-name: dropIn; }

.iframe-container {
  overflow: auto;
  padding-top: 56.25%;
  margin: 0;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 320;
   left: 0;
   position: absolute;
   top: 0;
   width: 480;
}

.btn {
    background-color: #26C1CC; /* blue */
    font-family: $sans-serif;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
