.pagination {
  border-top: 1px solid #eee;
  font-family: $sans-serif;
  color: #aaa;
  padding-top: 2rem;
  position: relative;
  text-align: center;

  span {
    font-size: 1.1rem;
  }

  .top {
    @include transition(all .3s ease-out);
    color: $default-color;
    font-family: $sans-serif;
    font-size: 1.1rem;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: $default-color;
    position: absolute;

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
    border-radius: 4px;
    padding: 2px 18px 4px;
    box-shadow: 0 0 0 1px #3366ff;
  }

  .right {
    right: 0;
    border-radius: 4px;
    padding: 2px 18px 4px;
    box-shadow: 0 0 0 1px #3366ff;
  }
}
