.pagination {
  border-top: 1px solid #eee;
  font-family: $sans-serif;
  color: #aaa;
  padding-top: 2rem;
  position: relative;
  text-align: center;

  span {
    font-size: 1.1rem;
  }

  .top {
    @include transition(all .3s ease-out);
    color: $default-color;
    font-family: $sans-serif;
    font-size: 1.1rem;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: $default-color;
    position: absolute;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .left {
    left: 0;
    background-color: #26C1CC; /* blue */
    font-family: $sans-serif;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 2px 18px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }

  .right {
    right: 0;
    background-color: #26C1CC; /* blue */
    font-family: $sans-serif;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 2px 18px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }
}
