{% if site.mailchimp %}
<div class="col col-4 col-d-6 col-t-12">
  <div class="widget widget-subscribe">
    <div class="widget__head">
      <h3 class="widget__title">{{ site.mailchimp__title }}</h3>
    </div>
    <div class="subscribe__inner">
      {% if site.mailchimp__text %}
      <div class="subscribe__group">
        <div class="subscribe__description">{{ site.mailchimp__text }}</div>
      </div>
      {% endif %}
<div class="ml-embedded" data-form="71IRuG"></div>
</div>
  </div>
</div>
{% endif %}
