<div class="widget widget-links">
  <div class="widget__head">
    <h3 class="widget__title">Links</h3>
  </div>
  <ul class="footer-links list-reset">
    <li><a href="https://shoulditalktoahuman.com/" target="_blank" rel="noopener"><i class="fa-solid fa-circle-question"></i>&nbsp;Should I talk to a human?</a></li>
    <li><a href="https://greggcorp.notion.site/Research-Practice-Bookmarks-6e6ffb6c8cc0484b8dc4b0485e584afd" target="_blank" rel="noopener"><i class="fa-solid fa-bookmark"></i>&nbsp;My UXR Bookmarks</a></li>
    <li><a href="https://www.linkedin.com/in/greggbernstein" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin"></i>&nbsp;LinkedIn</a></li>
    <li><a href="https://bsky.app/starter-pack/gregg.io/3lawj4judhq2z" target="_blank" rel="noopener"><i class="fa-brands fa-bluesky"></i>&nbsp;Bluesky</a></li>
    <li><a href="https://gregg.io/feed.xml" target="_blank" rel="noopener"><i class="fa-solid fa-rss"></i>&nbsp;RSS</a></li>
  </ul>
</div>
