{% if site.newsletter %}
<div class="col col-4 col-d-6 col-t-12">
  <div class="widget widget-subscribe">
    <div class="widget__head">
      <h3 class="widget__title">{{ site.newsletter__title }}</h3>
    </div>
    <div class="subscribe__inner">
      {% if site.newsletter__text %}
      <div class="subscribe__group">
        <div class="subscribe__description">{{ site.newsletter__text }}</div>
      </div>
      {% endif %}
      
      <form class="subscribe-form validate"
        id="custom-eo-form"
        action="https://eocampaign1.com/form/5530abcc-d2ba-11f0-b9e1-81e784b8e684" 
        method="POST"
        data-success-url="https://gregg.io/thanks_subs/">
        
        <label class="screen-reader-text" for="field_0">Your email</label>
        
        <input class="subscribe-email required email" 
               id="field_0" 
               type="email" 
               name="field_0" 
               placeholder="Email address"
               required>

        <div aria-hidden="true" class="emailoctopus-form-row-hp" style="position: absolute; left: -5000px;">
            <input type="text" name="hpc4b27b6e-eb38-11e9-be00-06b4694bee2a" tabindex="-1" autocomplete="nope">
        </div>

        <button class="button subscribe-button" id="membedded-subscribe" type="submit">{{ site.newsletter__button__text }}</button>
      </form>

      <script>
        document.getElementById('custom-eo-form').addEventListener('submit', function(e) {
            e.preventDefault(); // Stop the ugly JSON page load
            
            const form = e.target;
            const data = new FormData(form);
            const button = form.querySelector('button');
            const originalText = button.innerText;

            // Optional: Change button text to indicate loading
            button.innerText = 'Sending...';
            button.disabled = true;

            fetch(form.action, {
                method: 'POST',
                body: data,
            })
            .then(response => {
                // Whether successful or not, we redirect to the success page 
                // (or you could check response.ok to handle errors differently)
                window.location.href = form.getAttribute('data-success-url');
            })
            .catch(error => {
                console.error('Error:', error);
                // Even if there is a network glitch, we usually fail gracefully 
                // or alert the user. For now, let's redirect.
                window.location.href = form.getAttribute('data-success-url');
            });
        });
      </script>
      </div>
  </div>
</div>
{% endif %}