/* Contact */
.contact-head {
  margin-bottom: 32px;
}

.form__group {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.hidden {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.form__input {
  width: 100%;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  border: 1.5px solid var(--border-color);
  border-radius: 2px;
  outline: none;
  transition: .25s ease-in-out;
  resize: vertical;
  color: var(--heading-font-color);
  background-color: var(--background-color);

  &::placeholder {
    color: var(--text-color);
  }

  &:focus {
    border-color: var(--heading-font-color);
  }
}