/* Hero */
.hero {
  margin-bottom: 45px;
  background-image: linear-gradient(360deg, #533feb57, transparent);
  min-height: 55vh;

  @media only screen and (max-width: $tablet) {
    margin-bottom: 30px;
  }

  @media only screen and (max-width: $mobile) {
    margin-bottom: 24px;
  }
}

.hero__inner {
  display: flex;
  align-items: center;

  @media only screen and (max-width: $desktop) {
    flex-direction: column;
  }
}

.hero__left {
  position: relative;
  margin-right: 68px;

  .hero__image {
    position: relative;
    z-index: 10;
    width: 380px;
    height: 480px;
    margin: 0 auto;
    border-radius: 2px;
    overflow: hidden;
    user-select: none;
    background: var(--text-color);
    box-shadow: 10px 10px 0 var(--heading-font-color);

    img {
      position: absolute;
      top: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 2px;
    }


  }

  @media only screen and (max-width: 1140px) {
    margin-right: 60px;
  }

  @media only screen and (max-width: $desktop) {
    width: 100%;
    margin-right: 0;
    order: -1;

    .hero__image {
      width: 100%;
      height: 440px;
      margin-bottom: 48px;
    }
  }

  @media only screen and (max-width: $tablet) {
    .hero__image {
      height: 360px;
      margin-bottom: 40px;
    }
  }

  @media only screen and (max-width: $mobile) {
    .hero__image {
      height: 280px;
      margin-bottom: 32px;
      box-shadow: none;
    }
  }
}

  .hero__title {
    margin-bottom: 32px;
    font-size: 68px;
    line-height: .85em;
    font-weight: 900;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: var(--heading-font-color);

    @media only screen and (max-width: 1140px) {
      font-size: 60px;
    }

    @media only screen and (max-width: $desktop) {
      margin-bottom: 32px;
      font-size: 48px;
      letter-spacing: normal;
    }

    @media only screen and (max-width: $mobile) {
      margin-bottom: 24px;
      font-size: 32px;
    }
  }

  .hero__description {
    /* max-width: 530px; */
    margin-bottom: 32px;
    font-size: 20px;
    color: var(--text-color);

    @media only screen and (max-width: $desktop) {
      max-width: 100%;
      margin-bottom: 24px;
      font-size: inherit;
    }
  }

  .hero__contact {
    .social__link {
      display: flex; 
      align-items: center;
      text-decoration: none; 
      color: inherit; 
      transition: color 0.3s ease;
    }
    
    .social__link:hover {
      color: var(--brand-color);
    }
    
    .social__item {
      margin-bottom: 10px;
    }
    
      @media only screen and (max-width: $desktop) {
        width: 200px;
        height: 40px;
        font-size: 18px;
      }
    }
