---
layout: default
---

<br />
<br />

<h1>Researcher &amp; educator.<br />
Author of Research Practice.<br />
A work in progress.</h1>

<br />

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%d %B %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1><h4>{{ post.description }}</h4>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 60 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592; Previous</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">Next &#8594;</a>
  {% endif %}
</div>
