---
layout: default
---

<div class="container animate">
  <div class="row">
    <div class="col col-8 push-2 col-d-12 push-d-0">
      <article class="note-single">
        <time class="note-single__time" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d %-I:%M %p %Z" }}</time>
        <div class="note-single__content">
          {{ content }}
        </div>
        <a class="note-single__back" href="{{ '/notes/' | prepend: site.baseurl }}">&larr; All notes</a>
      </article>
    </div>
  </div>
</div>
